.themeCard {
  position: relative;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: border-color 0.2s;
  cursor: pointer;

  &:hover {
    border-color: #1890ff80;
  }
}

.preview {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 6px;
  line-height: 1.6;
  font-family: Source Code Pro, Courier New, Courier, Monaco, monospace, PingFang SC, Microsoft YaHei;
}

.btn {
  margin-top: 24px;
}
